.venv/
.env

*.pdf
# *.jsonl
local
*.pyc
*.parquet

/results/logs/*
/results/plots/*
/results/profiling/*

/__pycache__

# notes.md
# trash*
results/local_debug.jsonl

# MODEL INFO
models/openllama-7b/*.bin
models/openllama-7b/*.model
models/openllama-7b/*.json
models/openllama-7b/.gitattributes
models/openllama-7b/.cache/

models/openllama-3b/*.bin
models/openllama-3b/*.model
models/openllama-3b/*.json
models/openllama-3b/.gitattributes
models/openllama-3b/.cache/

/docs/*.md
/docs/*.txt